<nav>
    <div class="nav-wrapper">
        <h1 class="title"><a href="/"><%=title %></a></h1>
        <span></span>
        <span class="categ-button"><a href="/categories/womens">Womens</a></span>
        <span class="categ-button"><a href="/categories/mens">Mens</a></span>
        <span class="login-button"><a href="/signin">Sign in</a></span>
    </div>
    <style>
        nav {
            background-color: rgb(223, 223, 223);
            width: 100%;
        }

        .nav-wrapper {
            width: 75%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-wrapper a {
            font-size: 25px;
            color: rgb(48, 48, 48);
            text-decoration: none;
        }

        .title {
            font-size: 30px;
            font-weight: normal;
            margin: 5px;
        }

        html {
            margin: 0px;
        }
    </style>
</nav>