* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 75%;
    position: relative;
    margin: 0 auto;
    border-bottom: solid black 3px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product img {
    margin-right: 30px;
    height: 100%;
}

.buy-now {
    font-size: 14px;
    background-color: rgb(112, 112, 112);
    color: white;
    border-radius: 5px;
    padding: 8px 12px;  
    margin: 15px 0px; 
}


.prod-descr {
    min-width: 400px;
}

.prod-descr > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
